body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

#foot {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.dropdown-trigger {
  color: white;
}

a:hover {
  color: white;
}